*{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman';
}
.contenedor_loader{
    background-color: #4c4747;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    transition: all 1.5s;
}
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    animation: loader 1.5s infinite ease-in-out;
}
.loader{
    color: #4685fa;
    font-size: 15px;
    position: relative;
    margin-top: 12%;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@keyframes loader{
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
.Inicio{
    display: flex;
}
body{
    background: #4c4747;
}
.cont-tarjetas{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 300px;
    margin-left: 20px auto;
    margin-right: 20px auto;
}
.cont-t{
    text-align: center;
    font-size: 7mm;
}
.boton-_f{
    color: #fff;
    text-decoration: none;
    font-size: 6mm;
    font-family: KaushanScript-Regular;
    background-color: rgb(15, 15, 249);
    border-radius: 10px;
    border-style: none;
    width: 50%;
    padding: 9px;
    margin-top: 50px;
}
.Presentacion{
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.cont-img{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}
.Titulo-Imagen{
    color: rgb(163, 15, 255);
    font-size: 7mm;
    margin-left: 17%;
    margin-top: -45px;
}
.cont-m{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    margin-left: 10px;
}
.linea2{
    border: solid #4685fa 2px;
    border-radius: 4px;
    margin: 5px 45px;
}
#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(5, 5, 5, 0.526);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #000000c4;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 500ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
    border-radius: 7px;
    margin-left: 6px;
    margin-right: 6px;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.caja_menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 13px;
}
.Titulo_1{
    font-family: KaushanScript-Regular;
    font-size: 12mm;
    color: #4d78c9;
}
.Titulo_2{
    font-size: 11mm;
    font-family: KaushanScript-Regular;
    color: #4d78c9;
}
.Titulo-f{
    font-size: 13mm;
    font-family: KaushanScript-Regular;
    color: #4d78c9;
}
.Subtitulo{
    font-size: 5mm;
}
@font-face{
    font-family: AlexBrush-Regular;
    src: url(Fuentes/AlexBrush-Regular.ttf);
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(Fuentes/KaushanScript-Regular.otf);
}
.Caja_1{
    background-color: rgb(177, 171, 206);
    padding: 25px;
    border-radius: 20px;
    margin: 30px 10%;
}
.in-flex{
    flex: 5;
    background-color: #5d5656;
    padding: 8px;
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
    border-radius: 9px;
}
.imagen_tarjeta{
    height: 250px;
    width: 300px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 9px 3px #83ca87dc;
    
}
.texto{
    color: #fff;
    text-align: center;
    font-size: 5mm;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 11px;
    margin-right: 11px;
}
figcaption{
    color: #fff;
}
.cont_imagen{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.cont-video{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-top: 50px;
}
.video{
    width: 70%;
    height: auto;
    border-radius: 10px;
}
.boton{
   margin: 5px;
   padding: 6px 19px;
   font-size: 4mm;
   font-family: KaushanScript-Regular;
   background-color: #4685fa;
   border: #4685fa;
   border-radius: 4px;
}
.boton:hover,
.boton-2:hover{
    box-shadow: 1px 3px 5px 2px rgba(225, 217, 217, 0.886);
    transition-duration: 0.3s;
}
.boton-2{
    margin-top: 70px;
    margin-left: 15px;
    padding: 10px 20px;
    font-size: 5mm;
    font-family: KaushanScript-Regular;
    background-color: #4685fa;
    border: #4685fa;
    border-radius: 4px;
 }
 .cont-boton-v{
	margin-top: 100px;
	margin-bottom: 100px;
}
.boton-v{
	background-color: #8a7272;
	font-family: KaushanScript-Regular;
	font-size: 5mm;
	padding: 7px;
	border-style: none;
	border-radius: 11px;
	width: 80%;
}
.boton-v:hover{
    box-shadow: 3px 4px 4px 1px #bbb5b5c7;
    transition-duration: 0.5s;
}
.a{
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
    text-decoration: none;
}
.cont-r{
    background-color: #5d5656;
    margin: 10px 5% 0px 5%;
    border-radius: 11px;
    padding: 10px;
}
.pie-de-pagina{
    background-color: rgba(96, 96, 194, 0.815);
    padding: 20px;
    text-align: center;
    font-size: 5mm;
    font-family: sans-serif;
}
footer{
    margin-top: 100px;
    width: 100%;
}
.linea{
    border: solid #4685fa 2px;
    border-radius: 4px;
    margin: 0px 70px;
}
.linea3{
    border: solid #4685fa 2px;
    border-radius: 4px;
    margin: 80px 70px;
}
.texto__2{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: #fff;
    margin: 15px 20px 0px 40px;
    font-size: 5mm;
}
.titulo-r{
    font-family: KaushanScript-Regular;
    font-size: 9mm;
    color: #fff;
    margin-left: 40px;
    margin-right: 20px;
}
@media screen and (min-width: 970px){
    .Titulo_1{
        font-size: 14mm;
    }
    .Titulo_2{
        font-size: 12mm;
    }
    .imagen_tarjeta{
        width: 420px;
        height: 320px;
    }
    .pie-de-pagina{
        padding: 50px;
    }
    .Caja_1{
        margin: 70px 10%;
        border-radius: 20px;
        padding: 30px;
    }
}
@media screen and (max-width: 600px){
    .imagen_tarjeta{
        width: 300px;
        height: 220px;
    }
    .Presentacion{
        width: 70%;
    }
    .Titulo-f{
        font-size: 11mm;
    }
    .in-flex{
        margin-left: 5%;
        margin-right: 5%;
    }
    .loader{
        margin-top: 50%;
    }
    .pie-de-pagina{
        padding: 50px 0px;
    }
    .linea2{
        margin: 2px 20px;
    }
}
@media screen and (max-width: 400px){
    .Titulo-f{
        font-size: 9mm;
    }
    .Subtitulo{
        font-size: 4mm;
    }
    .texto{
        font-size: 4.5mm;
    }
    .Titulo_1{
        font-size: 9mm;
    }
    .Titulo-Imagen{
        font-size: 4mm;
    }
}
