*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman; 
}
body{
	background: #4c4747;
}
.cont-menu{
	margin-top: 10px;
}
.titulo{
	text-align: center;
	font-family: KaushanScript-Regular;
	font-size: 11mm;
}
.cont-info{
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
}
.cont-info-f{
	width: 40%;
	box-shadow: 2px 3px 6px 2px #a9c398;
	height: auto;
	border-radius: 6px;
	margin-top: 40px;
	margin-left: 5%;
	padding: 10px;
	background-color: #756262;
}
.texto{
	color: #fff;
	font-size: 5mm;
}
.cont-img{
	display: flex;
	float: right;
	width: 40%;
	margin: 40px 0px 0px 5%;
	height: auto;
}
.cont-boton{
	margin-top: 100px;
	margin-bottom: 100px;
}
.boton{
	background-color: #8a7272;
	font-family: KaushanScript-Regular;
	font-size: 5mm;
	padding: 7px;
	border-style: none;
	border-radius: 11px;
	width: 80%;
}
.boton:hover{
	box-shadow: 1px 3px 5px 2px rgba(225, 217, 217, 0.886);
    transition-duration: 0.3s;
}
a{
	text-decoration: none;
	display: flex;
	align-content: center;
	justify-content: center;
	width: 100%;
}
@font-face{
    font-family: AlexBrush-Regular;
    src: url(../../Fuentes/AlexBrush-Regular.ttf);
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(../../Fuentes/KaushanScript-Regular.otf);
}