*{
	margin: 0;
	padding: 0;
	font-family: Times New Roman; 
}
body{
	background: #4c4747;
}
.cont-info{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	align-items: center;
	justify-items: center;
	margin-top: 40px;
}
.cont-info-f{
	width: 50%;
	height: auto;
	background-color: #5d5c5c;
	border-radius: 6px;
	margin-top: 40px;
	margin-left: 20px;
	padding: 10px;
}
.texto{
	color: #fff;
	font-size: 5mm;
}
.imagen{
	width: 300px auto;
	height: auto;

}
.cont-img{
	margin-left: 20px;
	margin-top: 20px;
}
@font-face{
    font-family: KaushanScript-Regular;
    src: url(../../Fuentes/KaushanScript-Regular.otf);
}
.titulo{
	font-size: 12mm;
	font-family: KaushanScript-Regular;
	text-align: center;
}
.cont-boton{
	display: flex;
	align-content: center;
	justify-content: center;
	margin-top: 100px;
}
.boton{
	background: #5d5c5c;
	border-style: none;
	font-size: 5mm;
	padding: 10px;
	border-radius: 10px;
	width: 100%;
}
a{
	width: 90%;
}
.boton:hover{
	transition-duration: 0.5s;
	box-shadow: 2px 3px 4px 5px #c3b9b978;
}